<mat-sidenav-container>
  <mat-sidenav mode="side" opened>
    <mat-nav-list>
      <mat-list-item>
        <h1>
          <a
            routerLink="/"
            routerLinkActive="active"
            ariaCurrentWhenActive="page"
          >
            N🍊strus
          </a>
        </h1>
      </mat-list-item>
      <mat-list-item>
        <a
          routerLink="/time-line"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          <mat-icon>home</mat-icon>
          <span>home</span>
        </a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
    <div>sample item</div>
  </mat-sidenav-content>
</mat-sidenav-container>
